.page-container{
    display: grid;
    grid-template-areas: "main sidebar" ;
    grid-template-columns: 7.5fr 2.5fr;
}

.postFeed_container {
    position: relative;
    grid-area: main;
    height: 125vh;
    /* overflow-y: scroll; */
  }

  .side-container{
    grid-area:  sidebar;

  }
  
  
  
  .postFeed_container ul {
    width: 80%;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  

