.page-container{
    display: grid;
    grid-template-areas: "sidebar main suggestionBar" ;
    grid-template-columns:  2fr 5.5fr 2.5fr;
    height: 100vh;
    height: 100dvh;
}

.postFeed_container {
    position: relative;
    grid-area: main;
    
    
    /* overflow-y: scroll; */
  }

  .side-container{
    grid-area:  sidebar;

  }
  
  
  
  .postFeed_container ul {
    width: 80%;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  

