.main-landing-container{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    padding: 15rem;
    background-color: #bcd3f5;

}
.heading{
  width: 50%;
}

.home-title{
    margin-bottom: 2rem;
    margin-left: 20%;
    color: black;

}

.sub-heading{

    /* display: flex; */
    /* flex-direction: row; */
    gap: 1.2rem;
}

.main-sub-heading{
  font-size: 2rem;
  color: black;
}

.suffix-title{
    font-size: 0.7rem;
    font-weight: 600;
}

.button1{
    margin-top: 2rem;
    background-color: black;
    padding: 0.5rem 1rem;
    width: 70%;
    border: none;
    cursor: pointer;
}

.button2{
margin-top: 1rem;
color: black;
}

.image-container{
    width: 50%;
}