.profileModal_overlay,
.postModal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-overlay-bg);
  z-index: 10;
  width: 100%;
}

.add-post-button{
  position: fixed;
 right: 60%;
  display: none;
  top:90%

}