.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #bcd3f5;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  gap: 10px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .login-form-container label {
    margin-bottom: 10px;
  }
  
  .login-form-container input {
    margin-left: 10px;
  }
  .login-form-container button {
    margin-top: 10px;
  }

  h2{
    gap: 1rem;
  }